<ng-container *ngIf="users$ | async as listUsers; else failureOrLoading">
  <div class="my-5 px-3">
    <!-- header  -->
    <div
      *ngIf="searchFormGroup"
      class="flex justify-between items-center bg-header p-2 rounded-md"
    >
      <div>
        <form [formGroup]="searchFormGroup" (ngSubmit)="getUsers()">
          <div class="rounded-full w-96 h-8 flex items-center">
            <input
              class="outline-none px-2 py-1 rounded-s-full w-full h-fit bg-white text-gray-500"
              type="text"
              placeholder="Search ..."
              formControlName="keyword"
            />
            <button
              type="submit"
              class="px-3 py-2 bg-teal-600 h-8 flex justify-center items-center rounded-r-full text-white font-semibold"
            >
              Search
            </button>
          </div>
        </form>
      </div>
      <div class="flex items-center gap-4 pr-4">
        <div
          class="h-8 w-8 border border-gray-400 hover:border-teal-500 hover:text-teal-500 rounded-md flex justify-center items-center cursor-pointer"
        >
          <ng-icon name="ionGridOutline"></ng-icon>
        </div>
        <div
          class="h-8 w-8 border border-gray-400 hover:border-teal-500 hover:text-teal-500 rounded-md flex justify-center items-center cursor-pointer"
        >
          <ng-icon name="ionListOutline"></ng-icon>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-3 mt-5">
      <div
        *ngFor="let u of listUsers?.content"
        class="col-span-3 border rounded-md p-3 bg-gray-50"
      >
        <div class="flex justify-between items-center pb-2">
          <div class="text-sm text-teal-600">#{{ u.userIdentifier }}</div>
          <div class="flex gap-2">
            <button
              (click)="openDialog(u.username)"
              class="bg-teal-600 text-white py-1 px-3 rounded-full font-semibold text-xs"
            >
              View
            </button>
          </div>
        </div>
        <hr />
        <div class="mt-2 flex flex-col justify-center items-center w-full">
          <div
            class="h-32 w-32 border rounded-full p-2 relative"
            [ngClass]="u.active ? 'border-green-600' : 'border-red-600'"
          >
            <img
              src="{{ u.profileImageUrl }}"
              class="w-full h-full object-cover"
              alt=""
            />
            <h3
              class="text-white py-1 px-3 rounded-full font-semibold text-xs absolute top-4 -right-10"
              [ngClass]="u.active ? 'bg-green-600' : 'bg-red-600'"
            >
              {{ u.active ? "Active" : "Deactive" }}
            </h3>
          </div>
          <h3 class="text-lg font-semibold hover:text-teal-500">
            {{ u.firstName }} {{ u.lastName }}
          </h3>

          <div class="flex flex-col gap-3 mt-5">
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl font-extrabold"
                name="ionAtSharp"
              ></ng-icon>
              <div class="text-gray-500">{{ u.username }}</div>
            </div>
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl font-extrabold"
                name="ionMailOpenOutline"
              ></ng-icon>
              <div class="text-gray-500">{{ u.email }}</div>
            </div>
            <div *ngIf="u.phone" class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl font-extrabold"
                name="ionPhonePortraitOutline"
              ></ng-icon>
              <div class="text-gray-500">{{ u.phone }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="flex justify-center my-5">
    <li
      *ngFor="
        let item of [].constructor(listUsers.totalPages);
        let page = index
      "
    >
      <a
        [ngClass]="page == currentPage ? 'bg-yellow-600' : 'bg-gray-600'"
        (click)="gotoPage(page)"
        class="text-white py-1 px-3 rounded-full font-semibold text-xs"
        >{{ page }}</a
      >
    </li>
  </ul>
</ng-container>

<ng-template #failureOrLoading>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="text-red-500">
      {{ errorMessage }}
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="shadow loader">
      <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp;
      <span>Processing...</span>
    </div>
  </ng-template>
</ng-template>
