<div class="question_view_dialog">
  <div class="flex justify-between items-center bg-gray-200 px-3 py-2">
    <div class="font-semibold font-poppins text-xl">Demo Assessment</div>
    <button
      (click)="closeDialog()"
      class="h-8 w-8 flex justify-center items-center bg-red-600 text-white rounded-full"
    >
      x
    </button>
  </div>
  <div class="py-3 px-3 w-full h-full questions">
    <div class="flex flex-col gap-3">
      <!-- question  -->
      <div
        *ngFor="let a of assessments; let i = index"
        class="px-3 w-full h-full"
      >
        <div class="flex justify-between items-start gap-1">
          <h3 class="font-medium">
            <span class="font-semibold ml-1">{{ i + 1 }} :</span>
            {{ a.content }}
          </h3>
          <p class="font-semibold text-sm text-gray-500">{{ a.mark }}</p>
        </div>

        <div class="my-3 grid grid-cols-12 gap-4">
          <!-- option 1  -->
          <label
            for="option1"
            class="col-span-6 flex items-center gap-2 hover:bg-gray-100 p-2 rounded-md"
            [ngClass]="
              a.givenAnswer === a.option1
                ? 'bg-teal-500 hover:bg-teal-500 text-white'
                : 'text-gray-700'
            "
          >
            <div
              class="h-8 w-8 border rounded-md flex justify-center items-center font-semibold text-sm"
            >
              A
            </div>
            <input
              type="radio"
              id="option1"
              class="hidden"
              [value]="a.option1"
              [name]="a.option1"
              [(ngModel)]="a.givenAnswer"
            />
            <h5>{{ a.option1 }}</h5>
          </label>
          <!-- option 2  -->
          <label
            for="option2"
            class="col-span-6 flex items-center gap-2 hover:bg-gray-100 p-2 rounded-md"
            [ngClass]="
              a.givenAnswer === a.option2
                ? 'bg-teal-500 hover:bg-teal-500 text-white'
                : 'text-gray-700'
            "
          >
            <div
              class="h-8 w-8 border rounded-md flex justify-center items-center font-semibold text-sm"
            >
              B
            </div>
            <input
              type="radio"
              id="option2"
              class="hidden"
              [value]="a.option2"
              [name]="a.option2"
              [(ngModel)]="a.givenAnswer"
            />
            <h5>{{ a.option2 }}</h5>
          </label>
          <!-- option 3  -->
          <label
            for="option3"
            class="col-span-6 flex items-center gap-2 hover:bg-gray-100 p-2 rounded-md"
            [ngClass]="
              a.givenAnswer === a.option3
                ? 'bg-teal-500 hover:bg-teal-500 text-white'
                : 'text-gray-700'
            "
          >
            <div
              class="h-8 w-8 border rounded-md flex justify-center items-center font-semibold text-sm"
            >
              C
            </div>
            <input
              type="radio"
              id="option3"
              class="hidden"
              [value]="a.option3"
              [name]="a.option3"
              [(ngModel)]="a.givenAnswer"
            />
            <h5>{{ a.option3 }}</h5>
          </label>
          <!-- option 4  -->
          <label
            for="option4"
            class="col-span-6 flex items-center gap-2 hover:bg-gray-100 p-2 rounded-md"
            [ngClass]="
              a.givenAnswer === a.option4
                ? 'bg-teal-500 hover:bg-teal-500 text-white'
                : 'text-gray-700'
            "
          >
            <div
              class="h-8 w-8 border rounded-md flex justify-center items-center font-semibold text-sm"
            >
              D
            </div>
            <input
              type="radio"
              id="option4"
              class="hidden"
              [value]="a.option4"
              [name]="a.option4"
              [(ngModel)]="a.givenAnswer"
            />
            <h5>{{ a.option4 }}</h5>
          </label>
        </div>
        <hr class="my-2" />
      </div>
    </div>
  </div>
</div>
