<div class="bg-gray-100 w-full h-screen flex flex-col relative">
  <!-- logo  -->
  <div class="my-5 text-center w-full">
    <ng-icon class="text-5xl text-teal-700" name="ionLeafOutline"></ng-icon>
    <h3 class="text-xl font-semibold mt-2">Assessment Hub</h3>
  </div>
  <!-- link  -->
  <div class="ps-2 flex flex-col gap-2 transition-all">
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionLeafOutline"></ng-icon> Assessment Home
    </a>
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="heroQueueList"></ng-icon> All Assessment
    </a>
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionAddCircleOutline"></ng-icon> Add
      Assessment
    </a>
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="heroUsers"></ng-icon> All Users
    </a>
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionBarChartOutline"></ng-icon> Leaderboard
    </a>
    <a
      routerLink=""
      routerLinkActive="active"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionHeartHalfSharp"></ng-icon> System Health
    </a>
  </div>
  <div class="absolute bottom-4 px-3 w-full">
    <div class="border border-gray-400 p-3 w-full rounded-md flex gap-3">
      <div class="h-14 w-14 bg-teal-700 rounded-full"></div>
      <div>
        <h3 class="text-lg font-semibold">Mehedi Hasan</h3>
        <p class="text-sm text-gray-600">Admin</p>
      </div>
    </div>
  </div>
</div>
