<div class="bg-gray-100 w-full h-screen flex flex-col relative">
  <!-- logo  -->
  <div class="my-5 text-center w-full">
    <ng-icon class="text-5xl text-teal-700" name="ionLeafOutline"></ng-icon>
    <h3 class="text-xl font-semibold mt-2">Assessment Hub</h3>
  </div>
  <!-- link  -->
  <div class="ps-2 flex flex-col gap-2 transition-all">
    <a
      routerLink="/admin/home"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionLeafOutline"></ng-icon> Assessment Home
    </a>
    <a
      routerLink="/admin/categories"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionAppsOutline"></ng-icon> All Category
    </a>
    <a
      routerLink="/admin/add-category"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionDuplicateOutline"></ng-icon> Add
      Category
    </a>
    <a
      routerLink="/admin/assessments"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="heroQueueList"></ng-icon> All Assessment
    </a>
    <a
      routerLink="/admin/add-assessment"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionAddCircleOutline"></ng-icon> Add
      Assessment
    </a>
    <a
      routerLink="/admin/users"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="heroUsers"></ng-icon> All Users
    </a>
    <a
      routerLink="/admin/leaderboard"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionBarChartOutline"></ng-icon> Leaderboard
    </a>
    <a
      routerLink="/admin/system-health"
      routerLinkActive="active_sidebar"
      class="flex items-center gap-3 px-4 py-2 hover:bg-white rounded-l-full hover:text-teal-600"
    >
      <ng-icon class="text-xl" name="ionHeartHalfSharp"></ng-icon> System Health
    </a>
  </div>
  <div class="absolute bottom-4 px-3 w-full">
    <div class="border border-gray-400 p-2 w-full rounded-md flex gap-2">
      <div class="h-12 w-12 rounded-full">
        <img
          class="w-full h-full object-cover"
          src="{{ user.profileImageUrl }}"
          alt=""
        />
      </div>
      <div>
        <h3 class="text-base font-semibold">
          {{ user.firstName }} {{ user.lastName }}
        </h3>
        <p class="text-sm text-gray-600">{{ user.role }}</p>
      </div>
    </div>
  </div>
</div>
