<ng-container *ngIf="assessment; else failureOrLoading">
  <div class="p-3">
    <!-- assessment description  -->
    <div class="bg-header p-2 rounded-md">
      <div class="w-full flex gap-3">
        <div class="w-80 rounded-md bg-white"></div>
        <div class="w-11/12">
          <h1 class="text-xl font-semibold text-white">
            {{ assessment.title }}
          </h1>
          <p class="text-gray-200 text-sm mt-2">
            {{ assessment.description }}
          </p>
          <div class="flex justify-between w-2/4 gap-4">
            <!-- first column  -->
            <div class="flex flex-col gap-3 mt-5">
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="ionTimerOutline"
                ></ng-icon>
                <div class="text-gray-100">{{ assessment.time }} minute</div>
              </div>
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="ionBowlingBallOutline"
                ></ng-icon>
                <div class="text-gray-100">{{ assessment.attempt }} times</div>
              </div>
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="heroUserGroup"
                ></ng-icon>
                <div class="text-gray-100">
                  {{ assessment.totalTaken }} user
                </div>
              </div>
            </div>
            <!-- second column  -->
            <div class="flex flex-col gap-3 mt-5">
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="ionTimerOutline"
                ></ng-icon>
                <div class="text-gray-100">
                  Category : {{ assessment.category.title }}
                </div>
              </div>
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="ionBowlingBallOutline"
                ></ng-icon>
                <div class="text-gray-100">No of question :</div>
              </div>
              <div class="flex gap-2 items-center">
                <ng-icon
                  class="text-2xl text-white font-extrabold"
                  name="heroUserGroup"
                ></ng-icon>
                <div
                  [ngClass]="
                    assessment.active ? 'text-gray-100' : 'text-red-500'
                  "
                >
                  {{ assessment.active ? "Active" : "Deactive" }}
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 mb-2 flex gap-3">
            <a
              [routerLink]="[
                '/admin/assessments/' +
                  assessment.assessmentIdentifier +
                  '/add-question'
              ]"
              class="bg-teal-500 px-4 py-1 rounded-full font-semibold text-white text-sm"
            >
              Add Question
            </a>
            <button
              (click)="updateassessment(!assessment.active)"
              class="px-4 py-1 rounded-full font-semibold text-white text-sm"
              [ngClass]="assessment.active ? 'bg-red-500' : 'bg-blue-500'"
            >
              {{ assessment.active ? "Unpublish" : "Publish" }} Assessment
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- questions section -->
    <!-- table title  -->
    <div class="bg-gray-100 rounded-md p-3 mt-4">
      <div class="grid grid-cols-12 gap-1">
        <div
          class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
        >
          Identifier
        </div>
        <div
          class="col-span-5 border-r border-gray-300 px-1 text-base font-semibold flex justify-between items-center"
        >
          <h3>Title</h3>
          <!-- Search  -->
          <div *ngIf="searchFormGroup">
            <form [formGroup]="searchFormGroup" (ngSubmit)="getQuestions()">
              <div
                class="border border-gray-400 focus:border-teal-500 rounded-full flex items-center"
              >
                <input
                  class="outline-none px-2 py-1 rounded-s-full h-full text-sm font-normal"
                  type="text"
                  placeholder="Search ..."
                  formControlName="keyword"
                />
                <button
                  type="submit"
                  class="px-3 py-2 bg-teal-500 rounded-r-full text-white flex justify-center items-center"
                >
                  <ng-icon name="ionSearch"></ng-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div
          class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
        >
          Mark
        </div>
        <div class="col-span-3 ps-1 text-base font-semibold">Action</div>
      </div>
    </div>

    <!-- table content  -->
    <div *ngIf="questions$ | async as listQuestions">
      <div class="bg-gray-100 rounded-md p-3 my-2">
        <div
          *ngFor="let q of listQuestions?.content"
          class="grid grid-cols-12 gap-1 border-b py-2"
        >
          <div
            class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold text-teal-600"
          >
            {{ q.questionIdentifier }}
          </div>
          <div class="col-span-5 border-r border-gray-300 ps-1 text-base">
            {{ q.content }}
          </div>
          <div
            class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
          >
            {{ q.mark }}
          </div>
          <div class="col-span-3 ps-1 text-base flex gap-2">
            <button
              (click)="openDialog(q.questionIdentifier)"
              class="bg-teal-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
            >
              View
            </button>
            <a
              [routerLink]="[
                '/admin/assessments/update-question/' + q.questionIdentifier
              ]"
              class="bg-orange-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
            >
              Update
            </a>
            <button
              (click)="onDeleteQuestion(q.questionIdentifier)"
              class="bg-red-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <ul class="flex justify-center my-5">
        <li
          *ngFor="
            let item of [].constructor(listQuestions.totalPages);
            let page = index
          "
        >
          <a
            [ngClass]="page == currentPage ? 'bg-teal-500' : 'bg-gray-600'"
            (click)="gotoPage(page)"
            class="text-white h-8 w-8 flex justify-center items-center rounded-full font-semibold text-xs"
            >{{ page }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-template #failureOrLoading>
  <ng-container *ngIf="errorMessage; else loading">
    <div class="text-red-500">
      {{ errorMessage }}
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="shadow loader">
      <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp;
      <span>Processing...</span>
    </div>
  </ng-template>
</ng-template>
