<div class="p-3">
  <!-- assessment description  -->
  <div class="bg-header p-2 rounded-md">
    <div class="w-full flex gap-3">
      <div class="w-80 rounded-md bg-white"></div>
      <div class="w-11/12">
        <h1 class="text-xl font-semibold text-white">Title</h1>
        <p class="text-gray-200 text-sm mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          recusandae repudiandae molestias vero laudantium delectus nam
          perspiciatis ducimus! Optio, ab.
        </p>
        <div class="flex justify-between w-2/4 gap-4">
          <div class="flex flex-col gap-3 mt-5">
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="ionTimerOutline"
              ></ng-icon>
              <div class="text-gray-100">120 minute</div>
            </div>
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="ionBowlingBallOutline"
              ></ng-icon>
              <div class="text-gray-100">1 times</div>
            </div>
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="heroUserGroup"
              ></ng-icon>
              <div class="text-gray-100">1 times</div>
            </div>
          </div>

          <div class="flex flex-col gap-3 mt-5">
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="ionTimerOutline"
              ></ng-icon>
              <div class="text-gray-100">Category</div>
            </div>
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="ionBowlingBallOutline"
              ></ng-icon>
              <div class="text-gray-100">No of question</div>
            </div>
            <div class="flex gap-2 items-center">
              <ng-icon
                class="text-2xl text-white font-extrabold"
                name="heroUserGroup"
              ></ng-icon>
              <div class="text-gray-100">Active</div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <button
            class="bg-teal-500 px-4 py-1 rounded-full font-semibold text-white"
          >
            Add Question
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- questions section -->
  <!-- table title  -->
  <div class="bg-gray-100 rounded-md p-3 mt-4">
    <div class="grid grid-cols-12 gap-1">
      <div
        class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
      >
        Identifier
      </div>
      <div
        class="col-span-5 border-r border-gray-300 ps-1 text-base font-semibold"
      >
        Title
      </div>
      <div
        class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
      >
        Mark
      </div>
      <div class="col-span-3 ps-1 text-base font-semibold">Action</div>
    </div>
  </div>

  <!-- table content  -->
  <div class="bg-gray-100 rounded-md p-3 my-2">
    <div class="grid grid-cols-12 gap-1 border-b py-2">
      <div class="col-span-2 border-r border-gray-300 ps-1 text-base">
        Identifier
      </div>
      <div class="col-span-5 border-r border-gray-300 ps-1 text-base">
        Title
      </div>
      <div
        class="col-span-2 border-r border-gray-300 ps-1 text-base font-semibold"
      >
        Mark
      </div>
      <div class="col-span-3 ps-1 text-base flex gap-2">
        <button
          class="bg-teal-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
        >
          View
        </button>
        <button
          class="bg-orange-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
        >
          Update
        </button>
        <button
          class="bg-red-500 px-4 py-1 rounded-full font-semibold text-sm text-white"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-1 border-b py-2">
      <div class="col-span-2 border-r border-gray-300 ps-1 text-base">
        Identifier
      </div>
      <div class="col-span-5 border-r border-gray-300 ps-1 text-base">
        Title
      </div>
      <div class="col-span-2 border-r border-gray-300 ps-1 text-base">Mark</div>
      <div class="col-span-3 ps-1 text-base">Action</div>
    </div>
  </div>
</div>
