/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&family=Righteous&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.loader {
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 100px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  z-index: 9000;
}
.spinner {
  height: 20px !important;
  width: 20px !important;
}

/* navbar  */
.link {
  position: relative;
  display: block;
  transition: 0.5s;
}
.link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 30px;
  height: 2px;
  background: #0d6efd;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.link:hover {
  color: #0d6efd !important;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(133, 46, 46, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}
